/* СТИЛИ ДЛЯ index.html */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}
ul {
  list-style: none;
}

.logo {
  color: #000000;
}

.logo-color {
  color: var(--accent-color);
}

/* Site-nav */

.site-nav .link {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:active {
  color: var(--accent-color);
}

.site-nav .link-current {
  color: var(--accent-color);
}

.contact-nav .link {
  color: var(--secondary-text-color);
}
.contact-nav .link:hover,
.contact-nav .link:active {
  color: var(--accent-color);
}

/* Hero */

.button-primary {
  background-color: var(--accent-color);
  color: var(--background-color);
}
/* Section */

.section-title {
  color: var(--primary-text-color);
}

/* Features Особенности*/
.feature-list .title {
  color: var(--primary-text-color);
}
.feature-list .title-text {
  color: var(--secondary-text-color);
}

/* Examples of work */

/* Footer */

.footer {
  background-color: #2f303a;
  color: var(--background-color);
}
.logo-footer {
  color: var(--background-color);
}
.footer-address {
  color: rgba(255, 255, 255, 0.6);
}
.card-text {
  color: var(--secondary-text-color);
}
.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}
/* СТИЛИ ДЛЯ portfolio.html */

.projects-lists .button-current {
  color: var(--accent-color);
}

.projects-cards .projects-cards-title {
  color: var(--primary-text-color);
}
.projects-cards .projects-cards-text {
  color: var(--secondary-text-color)